@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Poppins:wght@400;500;700&display=swap');

:root {
    --fonte-padrao:       'Poppins', Josefin Sans;
    --cor-de-fundo:      #454545;
    --cor-texto-padrao:  #e0e0e0;
    --cor-fundo-ancora:  #0b7ca4;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto-padrao);
    font-family: var(--fonte-padrao);
    font-weight: 600;
    max-width: 100%;
    max-height: 100%;
}
.cabeçalho {
    display: flex;
    justify-content: ce;
    text-align: center;
    align-items: center;
    margin: 0% 20% 0% 20%;
    gap: 2%;
}
.cabeçalho__imagem {
    width: 20%;
    border: solid var(--cor-de-fundo);
    border-radius: 40px; 
}
.cabeçalho__lista-item, .ancora {
    text-decoration: none;
    list-style: none; 
    
}
.ancora {
    text-transform: uppercase;
    color: var(--cor-texto-padrao);
    background-color: var(--cor-fundo-ancora);
    padding: 0.5em;
    border-radius: 10px;

}
.container-paragrafo{
   display: flex;
}
.paragrafo{
    display: flex;
    margin: 0% 20% 0 20%;
    padding: 2%;
}
.titulo__imagens {
    display: flex;
    justify-content: center;
    background-color: var(--cor-fundo-ancora);
    padding: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}
.section__imagens {
    display: flex;
    justify-content: center;
}
.div__imagens {
    padding: 0 4px 0 0;
}
.imagem {
    width: 200px;
    border-radius: 10px;
}
.rodapé {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-fundo-ancora);
    padding: 1em;
    margin-top: 1em ;
}
.rodapé__titulo {
    font-size: 18px;
    font-weight: 700;
    
}
.ancora__rodapé {
    text-decoration: none;
    color: var(--cor-de-fundo);

}