@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@500&display=swap');

:root {
    --fonte-primaria:       'Poppins', sans-serif;
    --fonte-segundaria:     'Roboto', sans-serif;
    --cor-principal:        #FF5678;
    --cor-preto-padrao:     #000000;
    --cor-botao:            #35E6E9;
}

