@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@500&display=swap');

:root {
    --fonte-primaria:       'Poppins', sans-serif;
    --fonte-segundaria:     'Roboto', sans-serif;
    --cor-destaque:         #FF5678;
    --cor-preto-padrao:     #000000;
    --cor-botao:            #35E6E9;
}

aside h1 {
    font-family: var(--fonte-segundaria);
    font-weight: 500;
    font-size: 64px;
}
aside h1 span{
    color: var(--cor-destaque);
}
main {
    width: 600px;
    height: 520px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}